<mat-card class="product-card mat-elevation-z4">
    <img mat-card-image [src]="product.imageUrl" width="100%" [alt]="product.name">
    
    <mat-card-content>
      <mat-chip-set>
        <mat-chip color="primary" selected>{{product.category}}</mat-chip>
        @if (product.inStock) {
          <mat-chip color="accent" selected>En Stock</mat-chip>
        }
      </mat-chip-set>
      
      <h2 class="mat-h2">{{product.name}}</h2>
      <p>{{product.description}}</p>
      
      <div class="rating">
        @for (star of [1,2,3,4,5]; track star) {
          <mat-icon [class.filled]="star <= product.rating">
            star
          </mat-icon>
        }
      </div>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <span class="price">${{product.price}}</span>
      <button 
        mat-raised-button 
        color="primary"
        (click)="addToCart.emit(product)">
        <mat-icon>add_shopping_cart</mat-icon>
        Añadir
      </button>
    </mat-card-actions>
  </mat-card>